.App nav {
  height: 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  padding-top: 0.5em;
  border-bottom: 1px solid black;
}

.nav-tab {
  padding: 1em;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 4px 4px 0px 0px;
}